     <body>
<%= render "shared/header" %>
<p></p><p></p><p></p><p></p>
<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= @user.nickname %>さんのページ
            <% if user_signed_in? && current_user.id == @user.id %>
              <%= link_to "編集", edit_user_registration_path(@user.id), class: "btn btn--yellow btn--cubic" %>
            <% end %><p></p>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">ニックネーム</th>
            <td class="table__col2"><%= @user.nickname %></td>
          </tr>
          <tr>
            <th class="table__col1">誕生日</th>
            <td class="table__col2"><%= @user.birth_date %></td>
          </tr>
          <tr>
            <th class="table__col1">住所</th>
            <td class="table__col2"><%= @user.area.name %><%= @user.address %></td>
          </tr>
          <tr>
            <th class="table__col1">連絡先</th>
            <td class="table__col2"><%= @user.phone_number %></td>
          </tr>
        </tbody>
      </table>
      <p></p><p></p><p></p><p></p>
      <h2 class="page-heading">
        <%= @user.nickname %>さんの依頼
      </h2>
      <div class="user__card">
      <% if @posts.present? %>
        <% @posts.each do |post| %>
          <li class='list'>
          <div class="thanx">
            <div class='item-img-content'>
              <video src=<%= rails_blob_path(post.video) %> type="video/mp4", controls></video>
                <% if post.post_order.present?  %>
                  <p class="text">お手伝いありがとう</p>
                <% end %>
            </div>
          </div>
            <div class='item-info'>
              <h3 class='item-name'>
                <%= link_to post_path(post.id) do %><%= post.title %><% end %>&#x1f91d;
              <span>お小遣い<%= post.price %>円<br></span>
              </h3>
      <% if user_signed_in? && current_user.id == post.user_id %>
        <%= link_to "編集", edit_post_path(post.id), class: 'btn btn--yellow btn--cubic' %>
          <% if post.post_order.nil? %>
        <%= link_to "削除",post_path(post.id), method: :delete, class: 'btn btn--yellow btn--cubic' %>
          <% end %>
      <% end %>
      </div>  
      </li>
      <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
  <%= render "shared/footer" %>
     <body>