<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>すけっと ~福井県版~</title>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="wrap">
      <%= render "shared/header" %>
        <div class="contents">
          <p></p><p></p><p></p><p></p>
            <div class="slide">
              <!-- 画面上部の帯 -->
                <div id="top_belt"></div>
              <!-- スライド表示枠 -->
                <div id="stage">
              <!-- スライド切換えボタン用ラジオボタン -->
                <input type="radio" id="r1" name="gal">
                <input type="radio" id="r2" name="gal">
                <input type="radio" id="r3" name="gal">
                <input type="radio" id="r4" name="gal">
                <input type="radio" id="r5" name="gal">
              <!-- 送りボタン用ラジオボタン -->
                <input type="radio" id="back1" name="gal"><input type="radio" id="next1" name="gal">
                <input type="radio" id="back2" name="gal"><input type="radio" id="next2" name="gal">
                <input type="radio" id="back3" name="gal"><input type="radio" id="next3" name="gal">
                <input type="radio" id="back4" name="gal"><input type="radio" id="next4" name="gal">
                <input type="radio" id="back5" name="gal"><input type="radio" id="next5" name="gal">
              <!-- 現スライド標示ボタンのラジオボタンとの関連付け -->
                <label for="r1" id="lb1" class="circ"><%= image_tag @thanks[0].image %></label>
                <label for="r2" id="lb2" class="circ"><%= image_tag @thanks[1].image %></label>
                <label for="r3" id="lb3" class="circ"><%= image_tag @thanks[2].image %></label>
                <label for="r4" id="lb4" class="circ"><%= image_tag @thanks[3].image %></label>
                <label for="r5" id="lb5" class="circ"><%= image_tag @thanks[4].image %></label>
              <!-- スライド群 -->
                <div id="photos">
  	          <!-- スライド1 -->
                <div id="photo1" class="pic">
              <!-- スライド写真と現スライド標示ボタン -->
      	        <%= image_tag @thanks[0].image, size: '600x338' %><%= image_tag 'top2.png' %>
                <div class="slide_name">
                <%= link_to user_path(@thanks[0].user.id) do %>
                @<%= @thanks[0].user.nickname%>さんのありがとう
                <% end %>
                </div>
              <!-- 送りボタンの表示とラジオボタンとの関連付け -->
                <label for="back1"><span class="pb">＜</span></label>
                <label for="next1"><span class="nb">＞</span></label>
            </div>      
            <div id="photo2" class="pic">
      	      <%= image_tag @thanks[1].image, size: '600x338' %><%= image_tag 'top2.png' %>
              <div class="slide_name">
                <%= link_to user_path(@thanks[1].user.id) do %>
                  @<%= @thanks[1].user.nickname%>さんのありがとう
                <% end %>
              </div>
              <label for="back2"><span class="pb">＜</span></label>
              <label for="next2"><span class="nb">＞</span></label>
            </div>
            <div id="photo3" class="pic">
      	      <%= image_tag @thanks[2].image, size: '600x338' %><%= image_tag 'top2.png' %>
              <div class="slide_name">
                <%= link_to user_path(@thanks[2].user.id) do %>
                  @<%= @thanks[2].user.nickname%>さんのありがとう
                <% end %>
              </div>
              <label for="back3"><span class="pb">＜</span></label>
              <label for="next3"><span class="nb">＞</span></label>
            </div>
            <div id="photo4" class="pic">
      	      <%= image_tag @thanks[3].image, size: '600x338' %><%= image_tag 'top2.png' %>
              <div class="slide_name">
                <%= link_to user_path(@thanks[3].user.id) do %>
                  @<%= @thanks[3].user.nickname%>さんのありがとう
                <% end %>
              </div>
              <label for="back4"><span class="pb">＜</span></label>
              <label for="next4"><span class="nb">＞</span></label>
            </div>
            <div id="photo5" class="pic">
      	      <%= image_tag @thanks[4].image, size: '600x338' %><%= image_tag 'top2.png' %>
              <div class="slide_name">
                <%= link_to user_path(@thanks[4].user.id) do %>
                  @<%= @thanks[4].user.nickname%>さんのありがとう
                <% end %>
              </div>
              <label for="back5"><span class="pb">＜</span></label>
              <label for="next5"><span class="nb">＞</span></label>
            </div>
          </div>
        <!-- stageの高さの確保 -->
        <div style="padding:28%;"></div>
      </div>
    </div>
      <p></p><p></p><p></p><p></p>
        <div class="girl_center">
          <div class="girl_talk_set">
            <div class="icon-box">
              <%= image_tag "girl.png", size: '40x40'  ,class:"girl-icon" %>
            </div>
            <div class="girl_talk">ここには、お手伝いが完了した<p>「みんなのありがとう」が表示されるよ！</p></div>
          </div>
        </div>
      <p></p><p></p><p></p><p></p>
        <div class="upper-content"> 
          <ul class="messages">
            <li class="message">
              <div class="message-date"><%= @thanks[0].created_at.to_s(:datetime_jp) %></div>
              <div><b><%= @thanks[0].title %></b></div>
            </li>
            <li class="message">
              <div class="message-date"><%= @thanks[0].created_at.to_s(:datetime_jp) %></div>
              <div><b><%= @thanks[1].title %></b></div>
            </li>
            <li class="message">
              <div class="message-date"><%= @thanks[0].created_at.to_s(:datetime_jp) %></div>
              <div><b><%= @thanks[2].title %></b></div>
            </li>
            <li class="message">
              <div class="message-date"><%= @thanks[0].created_at.to_s(:datetime_jp) %></div>
              <div><b><%= @thanks[3].title %></b></div>
            </li>
            <li class="message">
              <div class="message-date"><%= @thanks[0].created_at.to_s(:datetime_jp) %></div>
              <div><b><%= @thanks[4].title %></b></div>
            </li>
          </ul>
        </div>
      <p></p><p></p><p></p><p></p>
        <div class="girl_center">
          <div class="girl_talk_set">
            <div class="icon-box">
              <%= image_tag "girl.png", size: '40x40'  ,class:"girl-icon" %>
            </div>
              <div class="girl_talk">「みんなのお手伝い」</div>
          </div>
          <p></p><p></p><p></p><p></p>
        </div>
          <div class="middle-content">
           <ul class='item-lists'>
             <% if @posts.present? %>
               <% @posts.each do |post| %>
                 <li class='list'>
                   <div class="thanx">
                      <div class='item-img-content'>
                        <video src=<%= rails_blob_path(post.video) %> type="video", controls></video>
                          <% if post.post_order.present?  %>
                            <p class="text">お手伝いありがとう</p>
                          <% end %>
                      </div>
                   </div>
                  <div class='item-info'>
                    <h3 class='item-name'>
                      <%= link_to post_path(post.id),class:"btn btn--yellow btn--cubic" do %>
                        <%= post.user.nickname %>さんを助けに行く<% end %><h2>依頼→<%= post.title %>
                          <span>&#x1f4b0;お小遣い→<%= post.price %>円<br></span>
                    </h3></h2>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      <div>
    <div class="bottom-content">
      <form class="contact-form">
        <div class="girl_center">
          <div class="girl_talk_set">
            <div class="icon-box">
              <%= image_tag "girl.png", size: '40x40'  ,class:"girl-icon" %>
            </div>
              <div class="girl_talk">お手伝いを依頼する？</div>
              </div>
          </div>
            <p></p>
          <%= link_to new_post_path, class: 'submit' do %>
            <%= image_tag 'icon_camera.png' , size: '280x250' ,class: "purchase-btn-icon" %>
          <% end %>
      </form>
    </div>
  </div>
</div>
  <%= render "shared/footer" %>
  </div>
</body>
</html>