<body>
<%= render "shared/header" %>
  <p></p><p></p><p></p><p></p>
  <div class="main">
    <div class="inner">
      <div class="user__wrapper">
        <h2 class="page-heading">
          <%= link_to  user_path(@post.user.id) do %>
            <%= @post.user.nickname %>さんの依頼
          <% end %>
        </h2>
          <div class="user__card">
            <li class='list'>
              <div class="thanx">
                <div class='item-img-content'>
                  <video src=<%= rails_blob_path(@post.video) %> type="video/mp4", controls></video>
                  <% if @post.post_order.present? && user_signed_in? %>
                    <p class="text">お手伝いありがとう</p>
                    <div id="comment-create">
                      <%= link_to '「みんなのありがとう」に投稿する', new_post_thank_path(@post.id), class:"btn btn--yellow btn--cubic" %>
                    </div>
                  <% else %>
                  <% if user_signed_in? && current_user.id == @post.user.id %>
                    <div id="comment-create">
                      <%= link_to '依頼完了', order_post_path(@post.id), method: :post, class:"btn btn--yellow btn--cubic" %>
                    </div>
                  <% end %>
                  <% end %>
                </div>
              </div>
                <div class='item-info'>
                  <h3 class='item-name'>
                    <%= @post.title %>&#x1f91d;
                    <span>お小遣い<%= @post.price %>円
                      <% if user_signed_in? && current_user.id == @post.user.id %>
                        <%= link_to "編集", edit_post_path(@post.id), class: 'btn btn--yellow btn--cubic' %>
                          <% if @post.post_order.nil? %>
                            <%= link_to "削除",post_path(@post.id), method: :delete, class: 'btn btn--yellow btn--cubic' %>
                          <% end %>
                      <% end %></span>
                  </h3>
                <div class="girl_talk_set">
                  <div class="icon-box">
                    <%= image_tag "girl.png", size: '40x40'  ,class:"girl-icon" %>
                  </div>
                  <div class="girl_talk">
                    <%= link_to 'すけっとガイドはこちらから',new_guide_path %>
                  </div>
                </div>
                <div id="row">
                  <ul>
                    <li class="comment-create">
                      <h3 class="text-left title">トークルーム</h3>
                    </li>
                    <li class="comments_area">
                      <%= render partial: 'comments/index', locals: { comments: @comments } %>
                    </li>
                  </ul>

                </div>
                <div class="comment_left">
                  <% if user_signed_in? %>
                    <div id="comment-create">
                      <h3 class="text-left">コメントを投稿</h3>
                      <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
                    </div>
                  <% end %>
                </div>
            </li>
          </div>
      </div>
    </div>
  </div>
  <%= render "shared/footer" %>
</body>